.chambre {
    width: 90%;
    margin: 0 auto;

} 

.name {
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
}

.detail_container {
    width: 80%;
    margin: 100px auto;
    margin-bottom: 50px;
}

.extras {
    display: flex;
    flex-direction: column;
}

.more_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.more {
    margin: 10px;
}

.big_image {
    position: relative;
    width: 90%;
    display: table;
    margin: 0 auto;
    height: 600px;
}

@media screen and (max-width: 900px) {
    .big_image {
        height: 400px;
    }
}

@media screen and (max-width: 700px) {
    .big_image {
        height: 300px;
    }
}

@media screen and (max-width: 400px) {
    .big_image {
        height: 250px;
    }
}

.detail_img {
    width: 100%;
    height: 100%;
}

.back {
    position: absolute;
    text-decoration: none;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 2px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    text-align: center;
}

.big {
    width: 100% !important;
}

.book {
    text-align: center;
    text-decoration: none;
    color: rgb(0, 136, 199);
    transition: all 0.3s ease;
}

.book:hover {
    color: rgb(105, 198, 241);
}